<div class="todo-container">
	<mat-card>
		<mat-card-title>Tasks</mat-card-title>
		<mat-card-content class="todo-content">
			<mat-list>
				<div *ngFor="let task of tasks">
					<mat-list-item class="todo-item" [ngClass]="(task.completed) ? 'green': ''">
						<p mat-line>
							<span>{{task.name}}</span>
						</p>
						<button mat-icon-button (click)="toggleTask(task.id)">
							<mat-icon *ngIf="!task.completed">check</mat-icon>
							<mat-icon *ngIf="task.completed">close</mat-icon>
						</button>
						<button mat-icon-button (click)="removeTask(task.id)">
							<mat-icon>delete</mat-icon>
						</button>
						<button mat-icon-button (click)="editTask(task.id)">
							<mat-icon>edit</mat-icon>
						</button>
					</mat-list-item>
					<mat-divider></mat-divider>
				</div>
			</mat-list>
			<br>
			<button mat-icon-button (click)="addTask()">
				<mat-icon>add circle</mat-icon>
			</button>
		</mat-card-content>
	</mat-card>
</div>