.todo-container {
    width: 500px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.todo-content {
    padding: 10px;
}

.todo-content mat-icon {
    float: right;
    padding: 5px;
}

.todo-item span, mat-icon {
    line-height: 1px;
}