<div class="todo-container">
	<mat-card>
		<mat-card-title class="todo-title">Tasks</mat-card-title>
		<mat-divider></mat-divider>
		<mat-card-content class="todo-content">
			<br>
			<mat-list class="task-list">
				<div *ngFor="let task of tasks">
					<mat-list-item class="todo-item" [style.background-color]="(task.completed) ? hex : ''">
						<p mat-line>
							<mat-form-field class="no-underline">
								<input matInput style="width: 100%;" [focus]="task.focus" (blur)="task.focus=false; save()" [(ngModel)]="task.name"/>
							</mat-form-field>
						</p>
						<button mat-icon-button (click)="toggleTask(task.id)">
							<mat-icon *ngIf="!task.completed">check</mat-icon>
							<mat-icon *ngIf="task.completed">close</mat-icon>
						</button>
						<button mat-icon-button (click)="removeTask(task.id)">
							<mat-icon>delete</mat-icon>
						</button>
						<button mat-icon-button (click)="editTask(task.id)">
							<mat-icon>edit</mat-icon>
						</button>
					</mat-list-item>
				</div>
				<p *ngIf="tasks.length < 1" class="help">Click the "+" to add a task.</p>
			</mat-list>
			<br>
			<button mat-icon-button (click)="addTask()">
				<mat-icon>add circle</mat-icon>
			</button>
			<!-- <br>
			<br>
			<!-- <button mat-raised-button color="primary" (click)="save()">Save</button> -->
		</mat-card-content>
	</mat-card>
</div>