<div class="todo-container">
	<mat-card>
		<mat-card-title class="todo-title">Tasks</mat-card-title>
		<mat-divider></mat-divider>
		<mat-card-content class="todo-content">
			<br>
			<mat-list class="task-list">
				<div *ngFor="let task of tasks">
					<todo-item [task]="task" [color]="color" (remove)="removeTask(task.id)" (edit)="editTask(task.id)" (save)="save()"></todo-item>
				</div>
			</mat-list>
			<br>
			<button mat-icon-button (click)="addTask()">
				<mat-icon>add circle</mat-icon>
			</button>
			<!-- <br>
			<br>
			<!-- <button mat-raised-button color="primary" (click)="save()">Save</button> -->
		</mat-card-content>
	</mat-card>
</div>