<div class="new-color">
	<form>
		<mat-form-field>
			<input matInput placeholder="Name" [(ngModel)]="color.name" name="colorName" />
		</mat-form-field>
		<mat-form-field>
			<input matInput placeholder="Hex" hexValidator [(ngModel)]="color.hex" name="colorHex" #colorHex="ngModel" />
		</mat-form-field>
		<color-preview *ngIf="color.hex.length > 1" color="{{color.hex}}"></color-preview>
		<br>
		<button mat-raised-button (click)="submit()" *ngIf="colorHex">
			Add Color
		</button>
	</form>
</div>
