<div class="new-color">
	<form>
		<mat-form-field>
			<input matInput placeholder="Name" [(ngModel)]="color.name" name="colorName" />
		</mat-form-field>
		<mat-form-field>
			<input matInput placeholder="Hex" hexValidator [(ngModel)]="color.hex" name="colorHex" #colorHex="ngModel" />
		</mat-form-field>
		<div class="preview-container" *ngIf="color.hex.length > 1">
			<div class="color-box" [style.background-color]="'#' + color.hex"></div>
		</div>
		<br>
		<button mat-raised-button (click)="submit()" *ngIf="colorHex">
			Add Color
		</button>
	</form>
</div>
