<h3 mat-dialog-title>Settings</h3>
<mat-dialog-content>
	<mat-form-field>
		<mat-select placeholder="Complete Color" [value]="settings.selectedColor.hex">
			<mat-option *ngFor="let color of settings.colors" [value]="color.hex" (click)="pickColor(color)">
				{{color.name}}
			</mat-option>
		</mat-select>
	</mat-form-field>
	<br>
	<color-form class="new-color" (onSubmit)="addColor($event)"></color-form>
	<br>
	<button mat-raised-button color="primary" (click)="clearColors()">
		Clear All Colors
	</button>
	<button mat-raised-button color="primary" (click)="clearTasks()">
		Clear All Tasks
	</button>
</mat-dialog-content>
