<h3 mat-dialog-title>Settings</h3>
<mat-divider></mat-divider>
<br>
<mat-dialog-content>
	<mat-form-field>
		<mat-select placeholder="Complete Color" [value]="settings.selectedColor.hex">
			<mat-option *ngFor="let color of settings.colors" [value]="color.hex" (click)="pickColor(color)">
				{{color.name}}
			</mat-option>
		</mat-select>
	</mat-form-field>
	<button *ngIf="settings.colors.length > 1" mat-icon-button (click)="deleteColor(settings.selectedColor)">
		<mat-icon>delete</mat-icon>
	</button>
	<br>
	<mat-divider></mat-divider>
	<br>
	<color-form class="new-color" (onSubmit)="addColor($event)"></color-form>
	<br>
	<mat-divider></mat-divider>
	<br>
	<button mat-raised-button color="primary" (click)="resetColors()">
		Reset Colors
	</button>
	<button mat-raised-button color="primary" (click)="clearTasks()">
		Clear All Tasks
	</button>
</mat-dialog-content>
